<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="utf-8" http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Welcome to cats.com, <%= @user.username %></h1>
    <p>
      You have signed up for cats.com!
    </p>
    <p>
      Go to <%= @url %> to login.
    </p>
    <p>
      Meow.
    </p>
  </body>
</html>
