<form id="new_user" action="/users" method="POST">
  <label for="username">Username</label><br />
  <input type="text" name="user[username]"><br />
  <label for="password">Password</label><br />
  <input type="text" name="user[password]" /><br />

  <%= button_to 'Sign Up', users_url %>
</form>
